.client_wrapper{

    .active_state{
        background-color: lightgreen;
        font-weight: bold;
        padding: 5px;
    }

    .disable_state{
        background-color: lightslategray;
        padding: 5px;
        font-weight: bold;
    }

    .edit_button{
        cursor: pointer;
        color: darkblue;
    }

    .delete_button{
        cursor: pointer;
        color: darkred;
    }
}