.form-group{
    ul{
        padding-left: 0;
        max-height: 250px;
        overflow-y: scroll;
        li{
            list-style: none;
            border-bottom: 1px solid darkblue;
            padding: 3px 20px;
            cursor: pointer;
        }
        .active{
            background-color: rgba(16, 10, 105, 0.6);
            color: aliceblue;
        }
        .true{
            display: none;
        }
    }
}