.search_area{
    width: 100%;
    position: relative;
    
    .__search_bar{
        position: absolute;
        z-index: 5;
        width: 100%;
    }
}
.__products_selector{

    background-color: #f7f7f7;
    padding: 10px;
    overflow-x: hidden;
    .__products_list{
        max-height: 300px;
        margin-top: 50px;

        .__wrapper{
            cursor: pointer;
            background-color: #fff;
            padding-left: 10px;
            margin-top: 5px;
            .__products{
                hr{
                    margin: 0;
                    padding: 0;
                }
                
            }
        }
    }
}

#active{
    background-color: rgba(16, 10, 105, 0.6);
    color: #fff;
}