.home-wrapper{
    .wrapper{
        text-align: center;
        margin-top: 130px;
        margin-bottom: 130px;


        .logo__{
            display: inline-block;
            padding: 5px 15px;
            background-color: #f1f1f1;
            font-weight: 700;
        }

        .text{
            padding-left: 5px;
            font-weight: 700;
        }
    }
}