.shop_page{

    .form_wrapper{
        max-width: 500px;
        display: block;
        margin: auto;
    }

    .edit_button{
        color:green;
        cursor: pointer;
    }

    .delete_button{
        color:darkred;
        cursor: pointer;
    }
}