.Sidebar{
    // width: 230px;
    height: 90vh;
    overflow-y: auto;
    border-right: 2px solid #f1f1f1;
    position: sticky;
    top: 0;
    padding-top: 50px;
    
    .title__box{
        padding: 15px 5px;

        a{
            color: rgba(16, 10, 105, 0.6);
            text-decoration: none;

            &:hover{
                color: rgba(6, 5, 31, 0.8);;
            }
        }

        .logo__{
            display: inline-block;
            padding: 5px 15px;
            background-color: #f1f1f1;
            font-weight: 700;
        }

        .text{
            padding-left: 5px;
            font-weight: 700;
        }
    }

    ul{
        padding:  0;
        list-style: none;

        li{

            a{
                display: block;
                padding: 8px 15px;
                text-decoration: none;
                color: #413f3f;
                transition: all .15s linear;

                i{
                    width: 25px;
                    font-weight: 700;
                }

                &:hover{
                    background-color:rgba(16, 10, 105, 0.1);
                    color: #000000;
                }
            }
            
            .active{                
                background-color:  rgba(16, 10, 105, 0.6);
                color: #ffffff;
                font-weight: 600;
            }
        }
    }
}