.shop_page{

    .form_wrapper{
        max-width: 500px;
        display: block;
        margin: auto;
    }

    .edit_button{
        color:green;
        cursor: pointer;
    }

    .delete_button{
        color:darkred;
        cursor: pointer;
    }

    .btn-outline-dark{
        padding: 3px 10px;

        &:hover{
            background-color: rgba(16, 10, 105, 0.6);
        }
        &:focus{
            outline: none;
        }
    }
}